.btn {
  position: relative;
  z-index: 0;
  width: auto;
  padding: $button-padding;
  border: 2px solid $black;
  background: $white;
  transition: color $transition-duration ease;
  cursor: pointer;
  color: $black;
  font-weight: $regular-weight;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;

  // @include responsive($small-breakpoint) {
  //   padding: $button-small-padding;
  // }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: $white;
    background-color: $black;
  }

  &.btn-small {
    width: auto;
    font-size: 1.2rem;
    padding: $button-small-padding;
  }

  &.btn-icon-right {
    padding-right: $spacing-medium;
    padding-left: $spacing;

    .icon {
      position: absolute;
      top: 50%;
      right: $spacing;
      transform: translate(50%, -50%);
    }
  }

  &.btn-icon-left {
    padding-left: $spacing-medium;
    padding-right: $spacing;

    .icon {
      position: absolute;
      top: 50%;
      left: $spacing;
      transform: translate(-50%, -50%);
    }
  }

  &.btn-icon-medium {
    .icon {
      font-size: 1.8rem;
    }
  }

  .icon {
    margin: 0 .5rem 0 0;
    font-size: 1.5rem;
  }
}

.btn-link {
  background: transparent;
  padding: .2rem;
  margin: 0;
  outline: none;
  color: $black;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  .icon {
    margin: 0 .5rem 0 0;
  }

  &.btn-small {
    font-size: 1.2rem;
  }
}

button {
  cursor: pointer;
  outline: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
