.input-wrapper,
.radio-wrapper,
.checkbox-wrapper,
.autocomplete-wrapper {
  input,
  textarea,
  label {
    font-size: 1.6rem;
  }

  input,
  textarea {
    width: 100%;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  label {
    margin-bottom: $spacing-xsmall;
  }

  input {
    padding: $spacing-xsmall;
    text-align: center;
    background-color: rgba($primary-color-alt, .3);
  }
}

.checkbox-wrapper,
.radio-wrapper {
  display: block;
  cursor: pointer;
  user-select: none;

  & input[type="radio"],
  & input[type="checkbox"] {
    display: none;
  }

  & input:checked ~ label {
    &::before {
      box-shadow: inset 0 0 0 .6rem;
    }
  }

  & input:checked:hover ~ label {
    &::before {
      box-shadow: inset 0 0 0 .6rem;
    }
  }

  & input:hover ~ label {
    &::before {
      box-shadow: inset 0 0 0 0.1rem;
    }
  }

  label {
    cursor: pointer;
    margin: 0;
    padding-left: 2.5rem;
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0rem;
      transform: translate(0, -50%);
      display: inline-block;
      vertical-align: middle;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      border: 2px solid $secondary-color;
      background: transparent;
      transition: box-shadow $transition-duration ease;
      outline: none;
      margin-right: 1rem;
      margin-bottom: 0.3rem;
      box-shadow: inset 0 0 0 0;

      &.disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}

.checkbox-wrapper {
  label {
    &::before {
      height: 1.2rem;
      width: 1.2rem;
      border-radius: 2px;
    }
  }
}

.autocomplete-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  > label {
    margin-bottom: $spacing-xsmall;
  }

  > input {
    padding: $spacing-xsmall;
    text-align: center;
    background-color: rgba($primary-color-alt, .3);
    position: relative;
    z-index: 2;
  }

  .choices {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    box-shadow: 0 5px 13px 0 rgba($secondary-color, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: auto;
    max-height: 10rem;

    input {
      display: none;
    }

    .choice {
      text-align: left;
      padding: $spacing-xsmall $spacing-small;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid $secondary-color;
      }

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }

      &.selected {

      }
    }
  }
}


.reverse {
  .radio-wrapper,
  .checkbox-wrapper {
    label {
      &::before {
        border-color: $primary-color;
      }
    }
  }
}
